<div class="">
  <div *ngIf="!isInPreview">
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-grid p-nogutter d-flex justify-content-end">
          <button pButton type="button" icon="pi pi-times" iconPos="left" (click)="cancel()"
                  class="p-button-text  p-button-rounded p-button-sm">
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="title">
        Article Publish Confirmation
      </ng-template>
      <ng-template pTemplate="subtitle">
        Confirm Your Article Information
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-field p-col-12">
          <label class="font-weight-bold">Article Title</label>
          <p>
            {{article.title}}
          </p>
        </div>
        <div class="p-field p-col-12">
          <label  class="font-weight-bold">Article Visibility</label>
          <p>
            This article is currently <b>{{article.privateMode ? 'Private' : 'Public'}}</b>.
          </p>
        </div>
        <div class="p-field p-col-12">
          <label  class="font-weight-bold">Article Summary</label>
          <p>{{article.summary ? article.summary : '-'}}</p>
        </div>
        <div class="p-field p-col-12">
          <label>Article Content</label>
          <p class="d-block">
            <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="previewArticle()"
                    label="Preview" class="p-button-outlined p-button-raised p-button-rounded">
            </button>
          </p>

        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter d-flex justify-content-between">
          <p-button label="Change" (onClick)="onChange()" icon="pi pi-angle-left"></p-button>
          <p-button label="Publish" (onClick)="publishArticle()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <!--preview article-->
  <div *ngIf="isInPreview">
    <div class="p-grid p-nogutter d-flex justify-content-end">
      <button pButton type="button" icon="pi pi-times" iconPos="left" (click)="cancelPreview()"
              class="p-button-text p-button-raised p-button-rounded p-button-sm">
      </button>
    </div>
    <h1 class="mx-5 pt-5 text-center">{{article ? article.title : ''}}</h1>
    <div id="articleContent" class="mt-1 p-5">
    </div>
  </div>
</div>
