<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{website-title}"></title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" th:fragment="landingpage-navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}" th:text="#{website-title}"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" th:text="#{menu-label}">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}" th:text="#{home-label}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}" th:text="#{about-me-label}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}" th:text="#{contact-label}"></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link inline-nav-link" id="sign-in" th:href="@{/account/login}" th:text="#{signin-label}"></a>
                    <span class="divider"></span>
                    <a class="nav-link inline-nav-link" id="sign-out" th:href="@{/account/register}" th:text="#{signup-label}"></a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getName()}">

                    </a>
                    <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item list-group-item nav-dropdown-item" th:href="@{/profile}"><i class="fas fa-user"></i>
                            Profile</a>
                        <a class="dropdown-item list-group-item nav-dropdown-item" th:href="@{/articles/new}"><i class="fas fa-edit"></i> Write</a>
                        <a class="dropdown-item list-group-item nav-dropdown-item" href="javascript: void 0;"
                           onclick="document.getElementById('logoutForm').submit();"><i class="fas fa-sign-out-alt">
                            </i> <span th:text="#{signout-label}"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
        </div>
    </div>
</nav>

<header class="page-header" th:fragment="article-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5 container" id="editor-nav">
        <a class="navbar-brand" th:href="@{/}">Steven's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}" th:text="#{about-me-label}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}" th:text="#{contact-label}"></a>
                </li>
                <li class="nav-item mt-auto mb-auto justify-content-center align-content-center" sec:authorize="!isAuthenticated()">
                    <a class="nav-link inline-nav-link" id="sign-in" th:href="@{/account/login}" th:text="#{signin-label}"></a>
                    <span class="divider"></span>
                    <a class="nav-link inline-nav-link" id="sign-out" th:href="@{/account/register}" th:text="#{signup-label}"></a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getName()}">

                    </a>
                    <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item list-group-item nav-dropdown-item" th:href="@{/profile}"><i class="fas fa-user"></i>
                            Profile</a>
                        <a class="dropdown-item list-group-item nav-dropdown-item" th:href="@{/articles/new}"><i class="fas fa-edit"></i> Write</a>
                        <a class="dropdown-item list-group-item nav-dropdown-item" href="javascript: void 0;"
                           onclick="document.getElementById('logoutForm').submit();"><i class="fas fa-sign-out-alt">
                        </i> <span th:text="#{signout-label}"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
        </div>
    </nav>
</header>

</body>
</html>