<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Page Header -->
<header class="masthead" id="home-header" th:fragment="pageHeader">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 th:text="#{website-header}"></h1>
                    <span class="subheading" th:text="#{website-subheader}"></span>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>