<div class="mb-1">
  <button pButton type="button" label="Back"
          icon="pi pi-arrow-left"
          class="p-button-outlined p-button-raised p-button-rounded p-button-sm shadow-lg"
          (click)="backButtonClicked($event)">
  </button>
  <span class="float-right" *ngIf="isInOwnerMode">
      <span>
              <button pButton type="button" label="Edit"
                      icon="far fa-edit"
                      class="p-button-outlined p-button-raised p-button-rounded p-button-sm shadow-lg"
                      (click)="onEditArticle($event)">
        </button>
      </span>
      <span class="ml-1">
                <button pButton type="button" label="Delete"
                        icon="far fa-trash-alt"
                        class="p-button-outlined p-button-raised p-button-rounded p-button-sm shadow-lg"
                        (click)="onDeleteArticle($event)">
        </button>
      </span>

  </span>

</div>

<div class="container shadow-lg bg-white rounded">
  <h1 class="mx-5 pt-5 text-center">{{article.title}}</h1>
  <div #articleContent id="articleContent" class="mt-1 p-5 bg-white">
  </div>
</div>

<!-- confirmation -->
<p-confirmDialog icon="pi pi-exclamation-triangle" key="default"
                 defaultFocus="reject"
                 acceptButtonStyleClass="p-button-outlined"
                 rejectButtonStyleClass="p-button-outlined"
></p-confirmDialog>
<!--end confirmation -->
