.line-height-200 {
  line-height: 2;
}

.font-large {
  font-size: 120%;
}

.font-x-large {
  font-size: 250%;
}

form div span.p-inputgroup-addon {
  background-color: #fdb827;
}

.hole {
  width: 10px;
  height: 10px;
  background-color: gray;
  border: 2px solid gray;
}

.help-area {
  background-color: #eeeded;
}

.form-container {
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .form-container {
    width: 75%;
  }
}

@media only screen and (max-width: 700px) {
  .form-container {
    width: 100%;
    margin-top: 10%;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3em;
  margin-top:-5em;
  z-index: 1;
}
