<div id="intro" class="view">
  <app-landing-page-header-animation></app-landing-page-header-animation>
  <div class="mask rgba-black-strong">

    <div class="container-fluid d-flex align-items-center justify-content-center h-100">

      <div class="row d-flex justify-content-center text-center w-25">


        <div class="w-100" id="introduction">
          <!-- Description -->
          <h4 class="white-text my-4 text-left">
            <app-landing-page-header-typed-animation></app-landing-page-header-typed-animation>
            <hr class="hr-light">
          </h4>
        </div>

      </div>

    </div>

  </div>

</div>

<!--/.Mask-->
<!--/.Mask-->
