<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${article.title}"></title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/resources/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/clean-blog.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/article.css}" rel="stylesheet">
    <link th:href="@{/resources/css/article-content-style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/animation.min.css}" rel="stylesheet">
<!--    <link th:href="@{/resources/css/atom-one-dark.min.css}" rel="stylesheet">-->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <!-- Custom scripts for this template -->
    <script th:src="@{/resources/js/clean-blog.min.js}"></script>
    <script th:src="@{/resources/js/animation.min.js}"></script>
    <script th:src="@{/resources/js/highlight.pack.js}"></script>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/atom-one-dark.min.css">
</head>

<body>
<div class="page">
    <div th:replace="fragments/navbar::article-navbar"></div>
    <main class="page-main m-3">
        <div class="ml-auto mr-auto container mt-5">
            <div id="content" class="w-75 ml-auto mr-auto ck-content animsition">
            </div>
        </div>

    </main>
    <hr>
    <div th:replace="fragments/footer::footer"></div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let contentStr = /*[[${article.content}]]*/ '';
        let contentDiv = $("#content");
        contentDiv.html(contentStr);
        $('pre code').each((index, block)=>{
            hljs.highlightBlock(block);
        })
        $(".animsition").animsition({
            inClass: 'flip-in-y',
            outClass: 'flip-out-y',
            inDuration: 1500,
            outDuration: 800,
            linkElement: '.animsition-link',
            // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
            loading: true,
            loadingParentElement: 'body', //animsition wrapper element
            loadingClass: 'animsition-loading',
            loadingInner: '', // e.g '<img src="loading.svg" />'
            timeout: false,
            timeoutCountdown: 5000,
            onLoadEvent: true,
            browser: [ 'animation-duration', '-webkit-animation-duration'],
            // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
            // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
            overlay : false,
            overlayClass : 'animsition-overlay-slide',
            overlayParentElement : 'body',
            transition: function(url){ window.location.href = url; }
        })
    })

    /*]]>*/
</script>
</body>

</html>
