<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--    <meta charset="UTF-8">-->
    <title>New Post</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/resources/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <link th:href="@{/resources/css/ckeditor.css}" rel="stylesheet">
    <link th:href="@{/resources/css/article.css}" rel="stylesheet">
    <link th:href="@{/resources/css/jquery.modal.min.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/ckeditor5/ckeditor.js}"></script>

</head>
<body>
<div class="page">
    <header class="page-header ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5 container" id="editor-nav">
            <a class="navbar-brand" th:href="@{/}">Steven's Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void 0;" onclick="save()">Save</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void 0;" onclick="publish()">Publish</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="page-main m-3">
        <div class="h-100 ml-auto mr-auto container" id="editor-container">
            <div class="h-100 w-75 ml-auto mr-auto" id="edit-area">
                <form th:action="@{/articles/publish}" class="h-100" th:object="${article}" id="articleForm"
                      method="POST">
                    <input type="hidden" name="id" th:field="*{id}" id="articleId">
                    <input type="hidden" th:field="*{title}" id="articleTitle">
                    <textarea name="content" th:field="*{content}" id="editor"></textarea>
                </form>
            </div>
        </div>
    </main>
</div>
<div id="title-missing-message" class="modal justify-content-center align-content-center">
    <p class="text-center">Please enter a <span class="font-weight-bold">title</span> for this article</p>
</div>
<div id="error-message" class="modal justify-content-center align-content-center">
    <p class="text-center">Credentials expired. Please sign in your account</p>
</div>

<div id="article-saved-message" class="modal justify-content-center align-content-center">
    <p class="text-center">Article is saved!</p>
</div>
<div id="unknown-error-message" class="modal justify-content-center align-content-center">
    <p class="text-center" style="color:red">Unknown Error. Please Contact the administrator</p>
</div>
<script th:src="@{/resources/js/jquery.modal.js}"></script>
<script th:inline="javascript">
    let articleEditor;
    let title;
    let save;
    let publish;
    let articleTitle = $("#articleTitle");
    /*<![CDATA[*/
    let saveUrl = /*[[@{/articles/saveArticle}]]*/ "";
    let publishUrl = /*[[@{/articles/publish}]]*/ "";
    let redirectBaseUrl = /*[[@{/articles/}]]*/ "";
    //below codes are used to create editor

    function handleError(error) {
        console.error('Oops, something went wrong!');
        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
        console.warn('Build id: jqr0s8pz3tpi-o6ui3v6j1n94');
        console.error(error);
    }

    function createEditor() {
        const watchdog = new CKSource.Watchdog();

        window.watchdog = watchdog;

        watchdog.setCreator((element, config) => {
            return CKSource.Editor
                .create(element, config)
                .then(editor => {
                    articleEditor = editor;
                    title = $(".ck.ck-content h1");
                    return editor;
                })
        });

        watchdog.setDestructor(editor => {

            articleEditor = null;
            return editor.destroy();
        });

        watchdog.on('error', handleError);


        watchdog
            .create(document.querySelector('#editor'), {

                toolbar: {
                    items: [
                        'undo',
                        'redo',
                        '|',
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'fontColor',
                        'fontBackgroundColor',
                        'fontSize',
                        'fontFamily',
                        '|',
                        'link',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        'alignment',
                        '|',
                        'blockQuote',
                        'code',
                        'insertTable',
                        'imageInsert',
                        'mediaEmbed',
                        'codeBlock',
                        'htmlEmbed',
                        'todoList',
                        '|',
                        'MathType',
                        'ChemType',
                        'specialCharacters',
                        '|',
                        'highlight',
                        'subscript',
                        'superscript',
                        'strikethrough',
                        'underline',
                        'removeFormat',
                    ]
                },
                language: 'en',
                mediaEmbed:{
                    previewsInData: true
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side',
                        'linkImage'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells',
                        'tableCellProperties',
                        'tableProperties'
                    ]
                },
                licenseKey: '',

            })
            .catch(handleError);
    }
    $(document).ready(function () {
        createEditor();
        let articleId = $("#articleId");
        let header = $("meta[name='_csrf_header']").attr("content");
        let token = $("meta[name='_csrf']").attr("content");
        let articleForm = $("#articleForm");
        let saveMsg = $("#article-saved-message");
        let saveEl = $("#article-saved-message p");
        let errorEle = $("#error-message p");
        let msgEl = $("#title-missing-message p");
        let titleMsg = $("#title-missing-message");
        let errMsg = $("#error-message");

        let showErrorMessage = function () {
            errMsg.modal({
                fadeDuration: 100,
                showClose: false
            });
        }
        let showSaveMessage = function () {
            saveMsg.modal({
                fadeDuration: 100,
                showClose: false
            });
        }

        let showTitleMessage = function () {
            titleMsg.modal({
                fadeDuration: 100,
                showClose: false
            });
        }
        let validateContentLength = function (content) {
            return content.length - articleTitle.val().length > 100;
        }
        let postRequest = function (url, success) {
            articleTitle.val(title.text());
            if(articleTitle.val().length === 0){
                showTitleMessage();
                return;
            }
            if(articleTitle.val().length < 10){
                errorEle.text("Title is too short");
                showErrorMessage();
                return;
            }
            let data = {
                id: articleId.val(),
                title: articleTitle.val(),
                content: articleEditor.getData()
            };
            if (!validateContentLength(data.content)) {
                saveEl.text("Please writer more content before save.")
                showSaveMessage();
                return;
            }
            $.ajax({
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader(header, token);
                },
                url: url,
                data: data,
                success: success,
                error: function (jqXHR, textStatus, exception) {
                    console.log(jqXHR);
                    console.log(jqXHR.status);
                    switch (jqXHR.status) {
                        case 403:
                            errorEle.text("Credentials expired. Please sign in your account");
                            showErrorMessage();
                            break;
                        default:
                            errorEle.text("Unknown Error. Please Contact the administrator");
                            showErrorMessage();
                            break;
                    }
                }
            })
        }
        save = function () {
            postRequest(saveUrl, function (data, status, jqXHR) {
                saveEl.text("Article saved.")
                showSaveMessage();
            });
        }

        publish = function () {
            postRequest(publishUrl, function (data, status, jqXHR) {
                console.log(jqXHR.status)
                window.location.replace(redirectBaseUrl+articleId.val());
            });
        }
    })


    /*]]>*/
</script>
</body>
</html>