<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${message}">Invalid User</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/resources/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/resources/css/login.css}">
    <link th:href="@{/resources/css/clean-blog.min.css}" rel="stylesheet">

    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/clean-blog.min.js}"></script>
    <script th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script th:src="@{/resources/js/account.js}"></script>

    <link th:href="@{/resources/css/animation.min.css}" rel="stylesheet">
    <script th:src="@{/resources/js/animation.min.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar::landingpage-navbar"></div>
<div class="wrapper fadeInDown animsition">
    <div id="formContent">
        <div class="fadeIn first mt-1">
            <img th:src="@{/resources/img/logo1.png}" height="150px" alt="">
        </div>
        <div id="client-validation">
            <span class="alert alert-danger error-notification mb-2" th:text="${message}"></span>
            <small>Redirect To Home Page In <span id="timeCounter" class="font-weight-bold">10</span> Seconds</small>
        </div>

        <div id="formFooter">
            <small>Can't Wait? Click <a th:href="@{/}" style="color:#5fbae9">Here</a></small>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let startTimeCounter;
    let url = /*[[@{/}]]*/ '/';
    $(document).ready(function(){
        $(".animsition").animsition({
            inClass: 'fade-in',
            outClass: 'fade-out',
            inDuration: 1500,
            outDuration: 800,
            linkElement: '.animsition-link',
            // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
            loading: true,
            loadingParentElement: 'body', //animsition wrapper element
            loadingClass: 'animsition-loading',
            loadingInner: '', // e.g '<img src="loading.svg" />'
            timeout: false,
            timeoutCountdown: 5000,
            onLoadEvent: true,
            browser: ['animation-duration', '-webkit-animation-duration'],
            // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
            // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
            overlay: false,
            overlayClass: 'animsition-overlay-slide',
            overlayParentElement: 'body',
            transition: function (url) {
                window.location.href = url;
            }
        });
        let timeCounterSpan =$("#timeCounter");
        let time = 9;
        let timeCounterFunc= function(){
            timeCounterSpan.text(time);
            time--;
        }
        startTimeCounter = setInterval(timeCounterFunc, 1000);
        setTimeout(function(){
            clearInterval(startTimeCounter);
            window.location.replace(url);
        },time  * 1000 + 1000);
    });
    /*]]>*/
</script>
</body>
</html>