<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="steven cai">

    <title th:text="#{website-title}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/resources/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/clean-blog.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <!-- Custom scripts for this template -->
    <script th:src="@{/resources/js/clean-blog.min.js}"></script>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/pageHeader::pageHeader"></div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" th:if="${articles.size() > 0}">
            <div class="article-preview mb-3" th:each="article : ${articles}">
                <a th:href="@{/articles/{id}(id=${article.id})}">
                    <h2 class="article-title" th:text="${article.title}"></h2>
                </a>
                <span class="article-meta" style="display: block"><small>Posted by</small>
                    <small th:text="${article.username}"></small>
                    <small>on</small>
                    <small th:text="${article.createDate}"></small>
                </span>
                <hr>
            </div>

            <!-- Pager -->
            <div class="clearfix" >
                <a class="btn btn-primary float-right" href="#" >Older Posts &rarr;</a>
            </div>
        </div>
        <div th:if="${articles.size() == 0}" class="col-lg-8 col-md-10 mx-auto">
            <div class="article-preview">
                <span>No Articles Yet</span>
            </div>
        </div>
    </div>
</div>

<hr>
<div th:replace="fragments/footer::footer"></div>

</body>

</html>
