/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.media {
  display: block !important;
  align-items: center !important;
}

#articleContent > h1 {
  font-weight: bold;
}

span label.p-checkbox-label {
  margin-bottom: 0 !important;
}

.bg-blog {
  background-color: #393e46;
}

.min-h-100 {
  min-height: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.h-fit-content {
  height: fit-content;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.h-95 {
  min-height: 95%;
}

.h-90 {
  height: 95%;
}

div.ck.ck-content {
  height: 100%;
}

.p-sidebar-content {
  height: 100%;
}

.p-toggleable-content, .p-panel-content {
  height: 100%;
}

.no-border, .no-border .p-toggleable-content, .no-border .p-panel-content {
  border: none !important;
  padding: 0 !important;
}

.disable-button {
  pointer-events: none;
  opacity: 0.4;
}
code {
  padding: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
.required-field{
  color:red;
  font-size:50%;
  padding-bottom:2px;
}

