<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

</head>
<body style="margin:10px; padding: 10px;">
<div style="min-width:400px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
             padding:10px"
>
    <h1 style="text-align: center; color:#ec8b4b; text-transform: uppercase">Steven's Blog</h1>
    <div>
        <p>Hello <span th:text="${username}" style="font-weight: bold; font-size: 30px"></span>,</p>
        <p style="font-size:20px;">
            You just requested to reset your password on Steven's Blog. <br>
            <span style="font-weight: bold;">If this wasn't you, please just ignore this email.</span> <br>
            Click the follow link to reset your password.
        </p>
        <div style="text-align: center;width: 100%;">
            <a th:href="${link}"
               style="width:220px;
               height:50px;
               display: inline-block;
               background-color: #4b93ec;
               color:white;
               border-bottom-left-radius: 5px;
               border-bottom-right-radius: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
               border:1px solid lightgray;
               font-size: 18px;
               font-weight: bold;
               text-decoration: none;
               vertical-align: middle;
            ">
                Reset Password
            </a>
        </div>
    </div>
    <div>
        <p style="font-size:20px;">If you cannot click the above link, copy and paste this link into browser: </p>
        <a th:href="${link}" th:text="${link}"></a>
    </div>
</div>
</body>
</html>