
<div class="">
  <div >
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-grid p-nogutter d-flex justify-content-end">
          <button pButton type="button" icon="pi pi-times" iconPos="left" (click)="cancel()"
                  class="p-button-text  p-button-rounded p-button-sm">
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="title">
        Sign Up Confirmation
      </ng-template>
      <ng-template pTemplate="subtitle">
        Confirm your account information
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-field p-col-12">
          <label>Username</label>
          <p>
            <b>{{signUpUser.username}}</b>
          </p>
        </div>
        <div class="p-field p-col-12">
          <label>User Email</label>
          <p><b>{{signUpUser.email}}</b></p>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter d-flex justify-content-between">
          <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
          <p-button label="Sign Up" (onClick)="signUp()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
