#home-header{
    background-image: url("../img/home-bg-3.jpg");
}
#contact-header{
    background-image: url("../img/contact-bg-2.jpg");
}
.dropdown-menu{
    padding:0;
}
.nav-dropdown-item{
    font-size: 80%;
    text-align: center;
    text-transform: uppercase;
}
.nav-dropdown-item:hover{
    background-color: lightskyblue;
}
.nav-dropdown-menu{
    width:50px;
}
.inline-nav-link{
    display:inline !important;
}
#sign-in{
    padding-right: 0 !important;
    margin-right: 0 !important;
}
#sign-out{
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.divider{
    display: inline-block;
    width:3px;
    height: 9px;
    background-color: #bbbbbb;
    margin: 0  !important;
    padding: 0;
}