<div class="my-2 p-2">
  <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
  <div class="card p-2">
    <p-table [value]="articles"
             dataKey="id"
             selectionMode="single"
             [(selection)]="selectedArticle"
             [(contextMenuSelection)]="selectedArticle"
             [contextMenu]="cm"
             [loading]="isLoading"
             [lazy]="true"
             (onLazyLoad)="loadingArticles($event)"
             [paginator]="true"
             [rows]="pageSize"
             [showCurrentPageReport]="true"
             [totalRecords]="totalArticles"
             editMode="row"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} articles"
             [rowsPerPageOptions]="[5,10,20,50]"
             styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
          <span>
            <button pButton type="button" label="New"
                    icon="far fa-edit"
                    class="p-button-outlined p-button-raised p-button-rounded p-button-sm"
                    (click)="createNewArticle($event)">
            </button>
          </span>
          <span class="p-input-icon-right p-ml-auto">
                    <i class="pi pi-search" (click)="searchArticles($event)"></i>
                    <input pInputText type="text"
                           [(ngModel)]="searchValue"
                           (input)="clearIfEmpty($event)"
                           placeholder="Search Articles"
                           (keyup.enter)="searchArticles($event)"/>
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="display: none">Id</th>
          <th pSortableColumn="title" class="text-center">Title
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="createDate" class="text-center">Creation Date
            <p-sortIcon field="createDate"></p-sortIcon>
          </th>
          <th pSortableColumn="lastModified" class="text-center">Last Modified
            <p-sortIcon field="lastModified"></p-sortIcon>
          </th>
          <th pSortableColumn="privateMode" class="text-center" *ngIf="!isDraftRoute">Public
            <p-sortIcon field="privateMode"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article let-editing="editing" let-ri="rowIndex">
        <tr [pSelectableRow]="article" [pContextMenuRow]="article" [pEditableRow]="article">
          <td style="display: none">{{article.id}}</td>
          <td class="text-center" pEditableColumn [pEditableColumnDisabled]="!editing"
              [ngClass]="{'alert-danger':article.title==null}">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="article.title" class="w-100">
              </ng-template>
              <ng-template pTemplate="output">
                {{article.title == null ? 'Title Is Missing' : article.title}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="text-center">{{ getClientDateTime(article.createDate) | date: 'medium'}}</td>
          <td class="text-center">{{getClientDateTime(article.lastModified) | date: 'medium'}}</td>
          <td class="text-center" pEditableColumn [pEditableColumnDisabled]="!editing" *ngIf="!isDraftRoute">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="accessModes" [(ngModel)]="article.privateMode" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <i class="pi "
                   [ngClass]="{'pi-times isPrivate':article.privateMode,'pi-check isPublic':!article.privateMode}"></i>
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="text-center editColumn">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(article)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(article, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(article, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- sign-up-confirmation -->
<p-confirmDialog icon="pi pi-exclamation-triangle" key="default"
                 defaultFocus="reject"
                 acceptButtonStyleClass="p-button-outlined"
                 rejectButtonStyleClass="p-button-outlined"
></p-confirmDialog>
<!--end sign-up-confirmation -->
